<div class="bg-off-white pv4">
  <div class="ph3 mw7 center">
    <h2 class="f2 b lh-title mb2">{{.intro.heading}}</h2>
    <p class="mb4 mw6">{{.intro.text}}</p>

    <div class="flex-ns mhn2-ns mb3">
      {{ range .work }}
      <div class="ph2-ns w-33-ns">
        <a href="{{.link}}">
          <img src="{{.image}}" alt="" class="center db mb3 w-100" style="min-width: 240px">
        </a>
        <p class="f4 b mb0"><a href="{{.link}}" class="no-underline">{{.title}}</a></p>
        <p>{{.text}}</p>
      </div>
      {{ end }}
    </div>

    <!-- <div class="tc">
      <a href="/work" class="btn raise">See all work</a>
    </div> -->
  </div>
</div>
