<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3 tc tl-ns">

		<div class="measure-narrow center mb4">

			<div class="tc">
				{{ partial "contact-form" }}
			</div>

		</div>


		<div class="flex-ns justify-between">


			<div class="lh-title">
				<span class="b">Acelot</span><br />
				3160 Porter Drive, Suite 200<br />
				Palo Alto, CA 94304
			</div>


			
			<div>
				<ul class="mhn2 mt2 mt0-ns">
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-twitter") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-linkedin") }}
				</ul>
			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
<script
  src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
  crossorigin="anonymous"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- <script src="/app.js"></script> -->

<script type="text/javascript">
	if (window.netlifyIdentity) {
  	window.netlifyIdentity.on("init", (user) => {
    if (!user) {
      window.netlifyIdentity.on("login", () => {
        document.location.href = "/admin/";
      });
    }
  });
}
</script>