<div class="pv5 pv6-l ph3 bg-center bg-black cover" style="background-image: url('{{.imageUrl}}'); opacity: 0.9;">
  <div class="mw7 center ph3">
    <div class="db mb3">
      <div class="mw7 relative bg-fix-primary mb3">
        <p><img src="/img/logo.svg" class="mw5" /></p>
        <h1 class="f2 b di lh-title mb3 white mw6">
          {{.title}}
        </h1>
      </div>
      <div class="mw7 relative bg-fix-primary">
        {{ if .subtitle }}
        <p class="f4 di lh-title mb3 white mw6">
          {{.subtitle}}
        </p>
        {{ end }}
        <div>
        <a href="#team" class="mt3 btn raise">Meet our team</a>
        &nbsp;
        <a href="#contact" class="mt3 btn-alt raise">Contact us</a> 
        </div>
      </div>
    </div>
  </div>
</div>
