<div id="front">
  <div class="pv5 pv6-l ph3 cover fade-1 bg-center" style="background-image: url('{{.imageUrl}}'); background-blend-mode: screen;">
    <div class="mw7 center ph3 fade-2">
      <div class="db mb3">
        <div class="mw6 relative bg-fix-primary">
          <img src="/img/logo-alt.svg" class="mw4 mw5-ns" /><br />
          <h1 class="f4 f3-ns di lh-title b white">
            {{.title}}
          </h1>
        </div>
        <div class="mw6 mr4 mr2-ns relative bg-fix-primary mt3">
          {{ if .subtitle }}
          <p class="f5 di lh-title mb3 white">
            {{.subtitle}}
          </p>
          {{ end }}
          <div>
          <a href="/#pipeline" class="mt3 btn-alt raise fade-3 mr3">See our pipeline</a>
          <a href="/#contact" class="mt3 btn-alt raise fade-3">Contact us</a> 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
