{{ define "main" }}

{{ partial "header" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle) }}

<!-- {{ partial "short-text" .Params.intro}} -->

<div class="fade-4">

	<!-- {{ partial "text-and-image" (dict "heading" .Params.intro.heading "text" .Params.intro.text "imageUrl" .Params.intro.image) }} -->

	{{ partial "3-up" .Params.approach }}

	<!-- <div name="pipeline">
	{{ partial "full-image" (dict "heading" .Params.pipeline.heading "text" .Params.pipeline.text "imageUrl" .Params.pipeline.image "imageAlt" .Params.pipeline.imagealt) }}
	</div> -->

	<div name="team">
		{{ partial "4-up" .Params.people }}

		{{ partial "4-up" .Params.advisors }}
	</div>

	<div name="pubs" class="hideme">
		{{ partial "pubs" . }}
	</div>

</div>

{{ end }}
